.empty {
  margin: 100px auto;
  width: 1200px;
  height: 400px;
  line-height: 400px;
  font-size: 50px;
  color:  #f778c0;
  background-color: aliceblue;
  border: 2px solid #c99;
  box-shadow: 1px 1px 29px #ccc,
    -1px -1px 29px #ccc;
}